.slider {
    width: 80%;
    margin: auto;

    img {
        opacity: 0.5;
    }

    img:hover {
        opacity: 1;
    }
}

.slick-list {
    padding: 0 !important;
}

.arrow {
    top: 10px;
    // transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    position: absolute;
}

.prev-arrow {
    transform: translate(0, -50%);
    transform: rotate(180deg);
    left: 5%;
}

.next-arrow {
    right: 5%;
}

.tires {
    .title {
        margin-left: 2rem;
    }

    .form-label {
        margin: 5px 0;
        text-align: center;
        line-height: 16px;
    }

    input {
        text-align: center;
    }

    .result {
        .result-inner {
            margin-left: 5rem;
            display: flex;
            align-items: center;
            .circleChceck {
                font-size: 20px;
                margin: 0 5px;
            }
            h5{
                margin: 0;
            }
        }
    }

    // #resultDiameterOriginal, #resultDiameterSubstitute{
    //      visibility: hidden;
    // }
}